@charset "UTF-8";
@font-face {
  font-family: "MontRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MontRegular.woff") format("woff");
}
@font-face {
  font-family: "MontSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MontSemiBold.woff") format("woff");
}
@font-face {
  font-family: "MontBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MontBold.woff") format("woff");
}
@font-face {
  font-family: "MontHeavy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MontHeavy.woff") format("woff");
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?p3gy9p");
  src: url("fonts/icomoon.eot?p3gy9p#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?p3gy9p") format("truetype"), url("fonts/icomoon.woff?p3gy9p") format("woff"), url("fonts/icomoon.svg?p3gy9p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaz:before {
  content: "\e90a";
}

.icon-ru:before {
  content: "\e90b";
}

.icon-sng:before {
  content: "\e90c";
}

.icon-ua:before {
  content: "\e90d";
}

.icon-arrow:before {
  content: "\e900";
}

.icon-cards:before {
  content: "\e901";
}

.icon-cash:before {
  content: "\e902";
}

.icon-check:before {
  content: "\e903";
}

.icon-info:before {
  content: "\e904";
}

.icon-keys:before {
  content: "\e905";
}

.icon-reviews:before {
  content: "\e906";
}

.icon-support:before {
  content: "\e907";
}

.icon-user:before {
  content: "\e908";
}

.icon-chevron:before {
  content: "\e909";
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69");
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?za5w69") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?za5w69") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?za5w69#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*--ik_select--*/
.lcslt-wrap {
  position: relative;
  display: inline-block;
}

.lcslt-wrap select {
  display: none !important;
}

.lcslt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  min-height: 15px;
  padding: 5px 30px 5px 5px;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
}

.lcslt:not(.lcslt-disabled):not(.lcslt-max-opts) {
  cursor: pointer;
}

.lcslt:not(.lcslt-multiple):after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #444;
  display: inline-block;
  position: absolute;
  right: 6px;
  transition: transform 0.3s ease;
}

.lcslt.lcslt_dd-open:after {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.lcslt:not(.lcslt-multiple) > span {
  line-height: normal;
}

.lcslt span,
.lcslt-multi-selected {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lcslt-multiple {
  padding: 5px 5px 0 5px;
  height: auto;
  line-height: 0;
}

.lcslt span:not(.lcslt-placeholder):not(.lcslt-multi-callout) {
  line-height: 1.1em;
  font-size: 0.95em;
}

.lcslt-opt {
  display: inline-block;
  margin: 0 0 5px 5px;
}

.lcslt-multi-selected {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: normal;
  -ms-flex-align: center;
  align-items: center;
}

.lcslt:not(.lcslt-disabled) .lcslt-multi-selected {
  cursor: pointer;
}

.lcslt-multi-selected:before {
  content: "×";
  font-family: arial;
}

.lcslt-multi-callout {
  display: inline-block;
  line-height: 0;
}

.lcslt-placeholder {
  line-height: normal;
  padding-bottom: 5px;
}

.lcslt-tabindex-trick {
  position: fixed;
  top: -99999px;
}

.lcslt-wrap,
.lcslt-wrap *,
#lc-select-dd,
#lc-select-dd * {
  box-sizing: border-box;
}

#lc-select-dd {
  visibility: hidden;
  z-index: -100;
  position: absolute;
  top: -9999px;
  z-index: 999;
  overflow: hidden;
  border-top: none;
  font-size: 1rem;
  font-family: sans-serif;
}

#lc-select-dd.lcslt-shown {
  visibility: visible;
  z-index: 99999999;
}

#lc-select-dd ul {
  margin: 0;
  list-style: none;
}

.lc-select-dd-scroll {
  max-height: 200px;
  overflow: auto;
}

.lcslt-search-li {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}

.lcslt-search-li input {
  width: 100%;
  padding-right: 36px;
  line-height: normal;
}

.lcslt-search-li input[type=text] { /* for iOS safari */
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.lcslt-search-li input[type=text],
.lcslt-search-li input[type=text]:hover,
.lcslt-search-li input[type=text]:active,
.lcslt-search-li input[type=text]:focus,
.lcslt-search-li input[type=text]:focus-visible {
  border: none;
  outline: none;
}

.lcslt-search-li:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 25px;
  height: 50%;
  right: 8px;
  top: 50%;
  /*-webkit-mask: ${ magnifier_svg } no-repeat right center;
  mask: ${ magnifier_svg } no-repeat right center;*/
  -webkit-mask-size: contain;
  mask-size: contain;
  transform: translate3d(0, -53%, 0);
}

#lc-select-dd li {
  width: 100%;
  margin: 0;
}

#lc-select-dd li > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

#lc-select-dd li span {
  word-break: break-all;
}

#lc-select-dd li span {
  display: inline-block;
  line-height: normal;
}

.lcslt-dd-opt:not(.lcslt-disabled):not(.lcslt-selected),
.lcslt-multiple-dd .lcslt-dd-opt:not(.lcslt-disabled) {
  cursor: pointer;
}

.lcslt-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
}

/*--end ik_select--*/
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--spoilers-*/
/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "MontRegular", sans-serif;
  font-weight: normal;
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #000;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  overflow-behavior: none;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input,
input {
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  border: 0 none;
}

textarea {
  resize: none;
  padding: 0 0;
}

[class*=__wrapper] {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1954px;
}

.hidden {
  display: none !important;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  padding-bottom: 80%;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

.form__label {
  display: block;
}
.form__label:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__label--error .form__error-text {
  display: block;
}

.form__label-inner {
  position: relative;
}

.form__input {
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #000;
  padding-right: 55px;
  background: #fff;
  font-family: inherit;
}
.form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.form__input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.form__input--error {
  border-color: red;
}
.form__input--active {
  border: 2px solid rgb(1, 63, 125);
}
.form__input:focus, .form__input:not(:placeholder-shown) {
  padding-top: 1.125rem;
}
.form__input:focus ~ .form__placeholder, .form__input:not(:placeholder-shown) ~ .form__placeholder {
  top: 11px;
  -ms-transform: translateY(0);
  transform: translateY(0);
  font-size: 12px;
}

.form__placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1;
  color: #8E8E93;
  transition: all 0.2s;
  pointer-events: none;
}

.form__error-text {
  display: none;
  margin-top: 0.5rem;
  color: red;
  font-size: 0.875rem;
  line-height: 1;
}

.form__custom-policy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form__custom {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
}

.form__check {
  position: absolute;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  display: block;
  left: 50%;
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.form__check:checked + .form__custom-chek:before {
  display: block;
}

.form__custom-chek {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 2px;
}
@media (any-hover: hover) {
  .form__custom-chek:hover {
    cursor: pointer;
  }
}
.form__custom-chek:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #000;
  content: "";
}

.form__area {
  width: 100%;
  height: 100px;
  padding: 20px;
  resize: none;
  border: none;
  background: #fff;
  padding-left: 20px;
  color: #222222;
  font-family: inherit;
}

.eye-ico {
  width: 24px;
  height: 24px;
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  position: absolute;
  bottom: 12px;
  right: 20px;
}
@media (any-hover: hover) {
  .eye-ico {
    cursor: pointer;
  }
}
.eye-ico .icon {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.eye-ico.unblind .eye-ico__show {
  display: block;
}
.eye-ico.unblind .eye-ico__hide {
  display: none;
}
.eye-ico .eye-ico__show {
  display: none;
}

.inp-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  position: absolute;
  top: 50%;
  right: 16px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (any-hover: hover) {
  .inp-reset {
    cursor: pointer;
  }
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
/*--------------------END ui----------------------*/
/*--------------------balance----------------------*/
.balance__form {
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.form-balance__left {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 30px 56px;
  border-radius: 55px;
  background: #4AB8E6;
  background: linear-gradient(131deg, rgb(74, 184, 230) 0%, rgb(0, 102, 255) 100%);
}

.balance__title {
  margin-bottom: 21px;
  color: #fff;
  font-size: 30px;
  font-family: "MontSemiBold", sans-serif;
  text-align: center;
}

.form-balance__label {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 15px;
  height: 109px;
  margin-bottom: 19px;
  border-radius: 23px;
  background-color: #fff;
}
.form-balance__label--login {
  padding-right: 28px;
}
.form-balance__label--wallet {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-balance__icon {
  position: absolute;
  left: 29px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #8E95A0;
}

.form-balance__user-icon {
  font-size: 33.52px;
}

.form-balance__input {
  padding-left: 90px;
  font-size: 24px;
  font-family: "MontSemiBold", sans-serif;
}
.form-balance__input::-webkit-input-placeholder {
  color: #8E95A0;
  opacity: 1;
}
.form-balance__input::-moz-placeholder {
  color: #8E95A0;
  opacity: 1;
}
.form-balance__input:-moz-placeholder {
  color: #8E95A0;
  opacity: 1;
}
.form-balance__input:-ms-input-placeholder {
  color: #8E95A0;
  opacity: 1;
}

.form-balance__modal {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 8px 22px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 7px;
  border-radius: 65px;
  background-color: #1179F9;
  color: #fff;
  font-family: "MontSemiBold", sans-serif;
  font-size: 21px;
}
@media (any-hover: hover) {
  .form-balance__modal {
    cursor: pointer;
  }
}

.form-balance__wallet {
  display: -ms-flexbox;
  display: flex;
  column-gap: 2px;
  border-radius: 23px;
}

.form-balance__select {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 53px;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}
.form-balance__select .lcslt-wrap {
  width: 100%;
}
.form-balance__select .lcslt {
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 26px;
  font-size: 37px;
  font-family: "MontBold", sans-serif;
  color: #1179F9;
}
.form-balance__select .lcslt:not(.lcslt-multiple)::after {
  content: "\e909";
  width: 11px;
  height: 20px;
  display: block;
  border: none;
  display: block;
  position: absolute;
  right: 6px;
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  transition: transform 0.3s ease;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 23px;
}
.form-balance__select .lcslt.lcslt_dd-open::after {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wallet-select.lcslt-shown {
  box-shadow: 1.44px 4.31px 8.63px 0px rgba(0, 0, 0, 0.42), 4.31px 15.81px 15.81px 0px rgba(0, 0, 0, 0.36), 10.06px 34.5px 21.57px 0px rgba(0, 0, 0, 0.21), 18.69px 60.38px 25.88px 0px rgba(0, 0, 0, 0.06), 28.75px 94.89px 27.32px 0px rgba(0, 0, 0, 0.01);
  border-radius: 0 23px 23px 23px;
}
.wallet-select .lcslt-f-wallet-select .wallet-target {
  font-size: 27px;
}
.wallet-select .lc-select-dd-scroll {
  max-height: 400px;
  padding: 0 12px;
  border-radius: 0 23px 23px 23px;
  background-color: #fff;
}
.wallet-select .lcslt-dd-opt {
  padding: 30px 28px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.wallet-select .lcslt-dd-opt:not(:last-child) {
  border-bottom: 1px solid #1179F9;
}

.flag {
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  aspect-ratio: 48/28;
  margin-right: 12px;
  border: 1px solid #1179F9;
  border-radius: 7px;
  overflow: hidden;
}
.flag img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.select-status {
  width: 28px;
  height: 28px;
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
  margin-left: 27px;
  border-radius: 50%;
  background-color: #DEDEDE;
}
.lcslt-selected .select-status {
  background-color: #1179F9;
}

.wallet-target {
  font-size: 25px;
  color: #1179F9;
}

.form-balance__right {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  border-radius: 55px;
}

/*--------------------END balance----------------------*/
/*--------------------footer----------------------*/
/*--------------------END footer----------------------*/
/*--------------------header----------------------*/
.header__inner {
  padding-top: 63px;
  padding-bottom: 44px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 15px;
}
@media (max-width: 1904px) {
  .header__inner {
    padding-top: calc(20px + 43 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .header__inner {
    padding-bottom: calc(10px + 34 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .header__inner {
    padding-top: 49px;
    padding-bottom: 20px;
  }
}

.header__logo {
  max-width: 264px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 264px;
  flex-basis: 264px;
}
@media (max-width: 1904px) {
  .header__logo {
    -ms-flex-preferred-size: calc(120px + 144 * ((100vw - 320px) / 1584));
    flex-basis: calc(120px + 144 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .header__logo {
    -ms-flex-preferred-size: 172px;
    flex-basis: 172px;
  }
}
.header__logo img {
  width: 100%;
  display: block;
}

.header__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 24.76px;
  row-gap: 8px;
}
@media (max-width: 1904px) {
  .header__nav {
    column-gap: calc(0px + 24.76 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
}

.nav-header__link {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
  transition: color 0.2s;
}
.nav-header__link:not(:last-child) {
  padding-right: 24.76px;
}
@media (max-width: 1904px) {
  .nav-header__link:not(:last-child) {
    padding-right: calc(5px + 19.76 * ((100vw - 320px) / 1584));
  }
}
.nav-header__link:not(:last-child):after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 26.82px;
  height: 22.86px;
  width: 1px;
  background-color: #8E95A0;
}
@media (max-width: 1904px) {
  .nav-header__link:not(:last-child):after {
    height: calc(10.86px + 12 * ((100vw - 320px) / 1584));
  }
}
@media (any-hover: hover) {
  .nav-header__link:hover {
    color: #7F8D9A;
  }
  .nav-header__link:hover .nav-header__icon {
    color: #8E95A0;
  }
}
.nav-header__link span {
  font-size: 22px;
}
@media (max-width: 1904px) {
  .nav-header__link span {
    font-size: calc(5px + 17 * ((100vw - 320px) / 1584));
  }
}

.nav-header__icon {
  color: #89929C;
}

.nav-header__link--support {
  column-gap: 17px;
}
@media (max-width: 1904px) {
  .nav-header__link--support {
    column-gap: calc(5px + 12 * ((100vw - 320px) / 1584));
  }
}

.icon-support {
  font-size: 22.51px;
}
@media (max-width: 1904px) {
  .icon-support {
    font-size: calc(10.51px + 12 * ((100vw - 320px) / 1584));
  }
}

.nav-header__link--reviews {
  column-gap: 11.44px;
}
@media (max-width: 1904px) {
  .nav-header__link--reviews {
    column-gap: calc(5px + 6.44 * ((100vw - 320px) / 1584));
  }
}

.icon-reviews {
  font-size: 20.86px;
}
@media (max-width: 1904px) {
  .icon-reviews {
    font-size: calc(10.86px + 10 * ((100vw - 320px) / 1584));
  }
}

.nav-header__link--keys {
  column-gap: 9.59px;
}
@media (max-width: 1904px) {
  .nav-header__link--keys {
    column-gap: calc(5px + 4.59 * ((100vw - 320px) / 1584));
  }
}

.icon-keys {
  font-size: 24.14px;
}
@media (max-width: 1904px) {
  .icon-keys {
    font-size: calc(10.14px + 14 * ((100vw - 320px) / 1584));
  }
}

.nav-header__link--cards {
  column-gap: 10.86px;
}
@media (max-width: 1904px) {
  .nav-header__link--cards {
    column-gap: calc(5px + 5.86 * ((100vw - 320px) / 1584));
  }
}

.icon-cards {
  font-size: 22.07px;
}
@media (max-width: 1904px) {
  .icon-cards {
    font-size: calc(10.07px + 12 * ((100vw - 320px) / 1584));
  }
}

.header__socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 17.88px;
}
@media (max-width: 1904px) {
  .header__socials {
    column-gap: calc(10px + 7.88 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .header__socials {
    column-gap: 11.66px;
  }
}

.socials-header__item {
  list-style-type: none;
}

.socials-header__link {
  width: 48px;
  height: 48px;
  display: block;
  text-decoration: none;
}
@media (max-width: 1904px) {
  .socials-header__link {
    width: calc(24px + 24 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .socials-header__link {
    height: calc(24px + 24 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .socials-header__link {
    width: 31px;
    height: 31px;
  }
}
.socials-header__link img {
  width: 100%;
  display: block;
}

/*--------------------END header----------------------*/
/*--------------------main----------------------*/
.main {
  margin-bottom: 30px;
}
@media only screen and (min-width: 991.98px) {
  .main {
    margin-top: -37px;
  }
}

.main__wrapper {
  position: relative;
}
@media only screen and (max-width: 991.98px) {
  .main__wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 991.98px) {
  .main__wrapper {
    padding-top: 43px;
    padding-bottom: 24px;
  }
}
@media only screen and (max-width: 991.98px) {
  .main__wrapper > .main__bg {
    display: none;
  }
}

.main__bg {
  position: absolute;
  right: 25px;
  top: 0;
  height: 100%;
  object-fit: cover;
  object-position: right 0;
  z-index: 2;
}

.main__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  border-radius: 55px;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}
@media only screen and (max-width: 1660px) {
  .main__container {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 38%;
  }
}
@media only screen and (max-width: 991.98px) {
  .main__container {
    border-radius: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .main__container {
    padding-right: 30%;
  }
}
@media only screen and (min-width: 991.98px) {
  .main__container {
    min-height: 328.29px;
  }
}
@media only screen and (max-width: 480px) {
  .main__container {
    padding-right: 0;
  }
}
.main__container:after {
  content: "";
  position: absolute;
  top: 58px;
  left: 50%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 2px;
  height: calc(100% - 117px);
  background-color: #fff;
  z-index: 2;
}
@media only screen and (max-width: 1660px) {
  .main__container:after {
    display: none;
  }
}
.main__container .main__bg {
  right: 0;
}
@media only screen and (min-width: 991.98px) {
  .main__container .main__bg {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .main__container .main__bg {
    right: -40px;
  }
}

.main__left {
  position: relative;
  z-index: 2;
  padding: 82px 58px 82px 56px;
  padding-top: 80px;
  padding-right: 58px;
  padding-bottom: 74px;
  padding-left: 56px;
  margin-bottom: 130px;
}
@media (max-width: 1904px) {
  .main__left {
    padding-top: calc(22px + 58 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .main__left {
    padding-right: calc(22px + 36 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .main__left {
    padding-bottom: calc(22px + 52 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .main__left {
    padding-left: calc(17px + 39 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .main__left {
    margin-bottom: calc(0px + 130 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 1660px) {
  .main__left {
    padding-bottom: 0;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 991.98px) {
  .main__left {
    margin-bottom: 28px;
  }
}
@media only screen and (max-width: 767.98px) {
  .main__left {
    padding-left: 17px;
    padding-top: 22px;
  }
}
@media only screen and (min-width: 1660px) {
  .main__left {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-bottom: 0;
  }
}

.main__right {
  position: relative;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 50px;
  max-width: 55.2409638554%;
  padding-left: 71px;
}
@media (max-width: 1904px) {
  .main__right {
    padding-top: calc(10px + 40 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .main__right {
    padding-left: calc(22px + 49 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 1660px) {
  .main__right {
    padding-left: 50px;
    padding-bottom: 65px;
  }
}
@media only screen and (max-width: 1199px) {
  .main__right {
    max-width: 96.6876971609%;
  }
}
@media only screen and (max-width: 991.98px) {
  .main__right {
    padding-bottom: 22px;
    padding-top: 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .main__right {
    padding-left: 17px;
  }
}
@media only screen and (min-width: 1660px) {
  .main__right {
    max-width: none;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-right: 343px;
    padding-top: 15px;
  }
}
.main__right > * {
  margin-bottom: 10px;
}
.main__right > *:last-child {
  margin-bottom: 0;
}
.main__right:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  height: 3px;
  width: 38.9312977099%;
  background-color: #fff;
}
@media only screen and (max-width: 991.98px) {
  .main__right:after {
    display: none;
  }
}
@media only screen and (min-width: 1660px) {
  .main__right:after {
    display: none;
  }
}
.main__right p {
  margin-top: 0;
  font-family: "MontBold", sans-serif;
  font-size: 26px;
  line-height: 1.3461538462;
}
@media (max-width: 1904px) {
  .main__right p {
    font-size: calc(10.6px + 15.4 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 480px) {
  .main__right p {
    padding-right: 35%;
    font-size: 10px;
  }
}

.main__title {
  margin-bottom: 6px;
  font-family: "MontHeavy", sans-serif;
  font-size: 39px;
  line-height: 1.2820512821;
}
@media (max-width: 1904px) {
  .main__title {
    font-size: calc(17.86px + 21.14 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 480px) {
  .main__title {
    padding-right: 30%;
    font-size: 17px;
  }
}
@media only screen and (max-width: 375px) {
  .main__title {
    padding-right: 20%;
  }
}

.main__subtitle {
  margin: 0;
  font-size: 21.5px;
}
@media (max-width: 1904px) {
  .main__subtitle {
    font-size: calc(10px + 11.5 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 480px) {
  .main__subtitle {
    padding-right: 20%;
    font-size: 10px;
    color: #99999F;
  }
}

/*--------------------END main----------------------*/
/*# sourceMappingURL=maps/main.css.map */
