@font-face {
  font-family: "MontRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MontRegular.woff") format("woff");
}
@font-face {
  font-family: "MontSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MontSemiBold.woff") format("woff");
}
@font-face {
  font-family: "MontBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MontBold.woff") format("woff");
}
@font-face {
  font-family: "MontHeavy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MontHeavy.woff") format("woff");
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?2ja7gu");
  src: url("fonts/icomoon.eot?2ja7gu#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?2ja7gu") format("truetype"), url("fonts/icomoon.woff?2ja7gu") format("woff"), url("fonts/icomoon.svg?2ja7gu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e904";
}

.icon-cash:before {
  content: "\e905";
}

.icon-check:before {
  content: "\e906";
}

.icon-info:before {
  content: "\e907";
}

.icon-user:before {
  content: "\e908";
}

.icon-cards:before {
  content: "\e900";
}

.icon-keys:before {
  content: "\e901";
}

.icon-reviews:before {
  content: "\e902";
}

.icon-support:before {
  content: "\e903";
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69");
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?za5w69") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?za5w69") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?za5w69#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--spoilers-*/
/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "MontRegular", sans-serif;
  font-weight: normal;
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #000;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  overflow-behavior: none;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input,
input {
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  border: 0 none;
}

textarea {
  resize: none;
  padding: 0 0;
}

[class*=__wrapper] {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1954px;
}

.hidden {
  display: none !important;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  padding-bottom: 80%;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
/*--------------------END ui----------------------*/
/*--------------------footer----------------------*/
/*--------------------END footer----------------------*/
/*--------------------header----------------------*/
.header__inner {
  padding-top: 63px;
  padding-bottom: 44px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 15px;
}
@media (max-width: 1904px) {
  .header__inner {
    padding-top: calc(20px + 43 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .header__inner {
    padding-bottom: calc(10px + 34 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .header__inner {
    padding-top: 49px;
    padding-bottom: 20px;
  }
}

.header__logo {
  max-width: 264px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 264px;
  flex-basis: 264px;
}
@media (max-width: 1904px) {
  .header__logo {
    -ms-flex-preferred-size: calc(120px + 144 * ((100vw - 320px) / 1584));
    flex-basis: calc(120px + 144 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .header__logo {
    -ms-flex-preferred-size: 172px;
    flex-basis: 172px;
  }
}
.header__logo img {
  width: 100%;
  display: block;
}

.header__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 24.76px;
  row-gap: 8px;
}
@media (max-width: 1904px) {
  .header__nav {
    column-gap: calc(0px + 24.76 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
}

.nav-header__link {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
  transition: color 0.2s;
}
.nav-header__link:not(:last-child) {
  padding-right: 24.76px;
}
@media (max-width: 1904px) {
  .nav-header__link:not(:last-child) {
    padding-right: calc(5px + 19.76 * ((100vw - 320px) / 1584));
  }
}
.nav-header__link:not(:last-child):after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 26.82px;
  height: 22.86px;
  width: 1px;
  background-color: #8E95A0;
}
@media (max-width: 1904px) {
  .nav-header__link:not(:last-child):after {
    height: calc(10.86px + 12 * ((100vw - 320px) / 1584));
  }
}
@media (any-hover: hover) {
  .nav-header__link:hover {
    color: #7F8D9A;
  }
  .nav-header__link:hover .nav-header__icon {
    color: #8E95A0;
  }
}
.nav-header__link span {
  font-size: 22px;
}
@media (max-width: 1904px) {
  .nav-header__link span {
    font-size: calc(5px + 17 * ((100vw - 320px) / 1584));
  }
}

.nav-header__icon {
  color: #89929C;
}

.nav-header__link--support {
  column-gap: 17px;
}
@media (max-width: 1904px) {
  .nav-header__link--support {
    column-gap: calc(5px + 12 * ((100vw - 320px) / 1584));
  }
}

.icon-support {
  font-size: 22.51px;
}
@media (max-width: 1904px) {
  .icon-support {
    font-size: calc(10.51px + 12 * ((100vw - 320px) / 1584));
  }
}

.nav-header__link--reviews {
  column-gap: 11.44px;
}
@media (max-width: 1904px) {
  .nav-header__link--reviews {
    column-gap: calc(5px + 6.44 * ((100vw - 320px) / 1584));
  }
}

.icon-reviews {
  font-size: 20.86px;
}
@media (max-width: 1904px) {
  .icon-reviews {
    font-size: calc(10.86px + 10 * ((100vw - 320px) / 1584));
  }
}

.nav-header__link--keys {
  column-gap: 9.59px;
}
@media (max-width: 1904px) {
  .nav-header__link--keys {
    column-gap: calc(5px + 4.59 * ((100vw - 320px) / 1584));
  }
}

.icon-keys {
  font-size: 24.14px;
}
@media (max-width: 1904px) {
  .icon-keys {
    font-size: calc(10.14px + 14 * ((100vw - 320px) / 1584));
  }
}

.nav-header__link--cards {
  column-gap: 10.86px;
}
@media (max-width: 1904px) {
  .nav-header__link--cards {
    column-gap: calc(5px + 5.86 * ((100vw - 320px) / 1584));
  }
}

.icon-cards {
  font-size: 22.07px;
}
@media (max-width: 1904px) {
  .icon-cards {
    font-size: calc(10.07px + 12 * ((100vw - 320px) / 1584));
  }
}

.header__socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 17.88px;
}
@media (max-width: 1904px) {
  .header__socials {
    column-gap: calc(10px + 7.88 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .header__socials {
    column-gap: 11.66px;
  }
}

.socials-header__item {
  list-style-type: none;
}

.socials-header__link {
  width: 48px;
  height: 48px;
  display: block;
  text-decoration: none;
}
@media (max-width: 1904px) {
  .socials-header__link {
    width: calc(24px + 24 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .socials-header__link {
    height: calc(24px + 24 * ((100vw - 320px) / 1584));
  }
}
@media only screen and (max-width: 767.98px) {
  .socials-header__link {
    width: 31px;
    height: 31px;
  }
}
.socials-header__link img {
  width: 100%;
  display: block;
}

/*--------------------END header----------------------*/
/*--------------------main----------------------*/
.main__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  min-height: 328.29px;
  border-radius: 55px;
  background-color: #000;
  color: #fff;
  background-image: url(../img/bg.png);
  background-position: right 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.main__container:after {
  content: "";
  position: absolute;
  top: 58px;
  left: 50%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 2px;
  height: calc(100% - 117px);
  background-color: #fff;
}

.main__left {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 82px 58px 82px 56px;
  padding-top: 82px;
  padding-right: 58px;
  padding-bottom: 82px;
  padding-right: 56px;
}
@media (max-width: 1904px) {
  .main__left {
    padding-top: calc(22px + 60 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .main__left {
    padding-right: calc(22px + 36 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .main__left {
    padding-bottom: calc(22px + 60 * ((100vw - 320px) / 1584));
  }
}
@media (max-width: 1904px) {
  .main__left {
    padding-right: calc(17px + 39 * ((100vw - 320px) / 1584));
  }
}

.main__right {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.main__right p {
  font-family: "MontBold", sans-serif;
  font-size: 26px;
}
@media (max-width: 1904px) {
  .main__right p {
    font-size: calc(10.6px + 15.4 * ((100vw - 320px) / 1584));
  }
}

.main__title {
  margin-bottom: 6px;
  font-family: "MontHeavy", sans-serif;
  font-size: 39px;
}
@media (max-width: 1904px) {
  .main__title {
    font-size: calc(17.86px + 21.14 * ((100vw - 320px) / 1584));
  }
}

.main__subtitle {
  font-size: 21.5px;
}
@media (max-width: 1904px) {
  .main__subtitle {
    font-size: calc(10px + 11.5 * ((100vw - 320px) / 1584));
  }
}

.main__visual {
  position: absolute;
  right: 0;
  top: 0;
}

/*--------------------END main----------------------*/
/*# sourceMappingURL=maps/main.css.map */
