section.main
	.main__wrapper
		.main__container
			.main__left
				h1.main__title Пополнить баланс steam быстро с моментальной комиссией – igromagaz

				p.main__subtitle Быстро и безопасно пополнить кошелек steam онлайн в России в 2025 году. Акции и бонусы каждому клиенту. Низкая комиссия. Поддержка 24/7.
			
			.main__right
				p Доступно пополнение аккаунтов с регионом Россия, Казахстан, Украина, Беларусь и других стран СНГ

			.main__visual
				img(src="img/visual.png" alt="alt")