/*--------------------main----------------------*/
.main {
	margin-top: -37px;
}
.main__wrapper {
	position: relative;
	padding-top: 43px;
	padding-bottom: 24px;
	// background-image: url(../img/bg_overall.png);
	// background-position: right 0;
	// background-repeat: no-repeat;
	// background-size: auto 100%;
}
.main__bg{
	position: absolute;
	right: 25px;
	top: 0;
	height: 100%;
	object-fit: cover;
	object-position: right 0;
	z-index: 2;

	// @include max-screen(1920px){
	// 	right: 25px;
	// }
}
.main__container {
	position: relative;
	display: flex;
	min-height: 328.29px;
	// height: 328.29px;
	border-radius: 55px;
	background-color: #000;
	color: #fff;
	

	&:after{
		content: '';
		position: absolute;
		top: 58px;
		left: 50%;
		transform: translateX(50%);
		width: 2px;
		height: calc(100% - calc(58px + 59px));
		background-color: #fff;
		z-index: 2;
	}
}
	
.main__left {
	position: relative;
	z-index: 2;
	flex: 0 0 50%;
	padding: 82px 58px 82px 56px;
	@include adaptive-value('padding-top', 80, 22, 1);
	@include adaptive-value('padding-right', 58, 22, 1);
	@include adaptive-value('padding-bottom', 74, 22, 1);
	@include adaptive-value('padding-left', 56, 17, 1);
}
.main__right {
	position: relative;
	z-index: 2;
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 343px;
	padding-top: 15px;
	padding-bottom: 15px;
	@include adaptive-value('padding-left', 71, 22, 1);

	& > *{
		margin-bottom: 10px;
	}
	& > *:last-child{
		margin-bottom: 0;
	}

	p{
		margin-top: 0;
		font-family: $bold;
		// font-size: 26px;
		@include adaptive-value('font-size', 26, 10.6, 1);
		line-height: math.div(35,26);

	}
}
.main__title {
	margin-bottom: 6px;
	font-family: $hev;
	// font-size: 39px;
	@include adaptive-value('font-size', 39, 17.86, 1);
	line-height: math.div(50,39);
}
.main__subtitle {
	margin: 0;
	// font-size: 22px;
	@include adaptive-value('font-size', 21.5, 10, 1);
}
.main__visual {
	position: absolute;
	// right: prc(50,1904);
	right: 45px;
	top: prc(-33,328.29);
	// aspect-ratio: 381/395;
	// width: prc(426,1904);
	height: prc(395,328.29);
	width: 426px;
	// height: 395px;
	outline: 1px solid red;

	img{
		// width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
/*--------------------END main----------------------*/ 